@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <a asp-area="" asp-controller="Merchant" asp-action="Index">商户管理</a>
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
